body{
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

.Content-Example{
    min-height: 100vh;
    padding: 20px;
}

.codeContainer{
    max-width: 100%;
    padding: 30px;
}

.padding-20px{
    padding: 20px;
}

.blur-cards-body{
    background-image: linear-gradient(to right, #0f4667, #2a6973);
    padding: 30px;
}

.neumorphic-login-signup-body{
    background-color: #e4ebf5;
    min-height: 100vh;
}

.bg-red{
    background-color: red;
}

.bg-pink{
    background-color: pink;
}

.bg-blue{
    background-color: aqua;
}