body{
    padding: 0px;
    margin: 0px;
}

.Content-Example{
    min-height: 100vh;
    padding: 20px;
}

.codeContainer{
    max-width: 100%;
    padding: 30px;
}

.padding-20px{
    padding: 20px;
}