:root {
    --mattBlack: #1C1C1E;
    --mattBlackTransparent: #1c1c1efa;
    --menuHeight: 60px;
    --mobileMenuWidth: 300px;
    --menuLinksColor: white;
    --menuLinksHoverColor: grey;
    --activeLinksColor: grey;
    --activeLinkLineColor: grey;
    --activeLinkLineBottom: -22px;
    --mobileMenuExitDivColor: grey;
}

.gs-menu{
    background-color: var(--mattBlack);
    width: 100%;
    height: var(--menuHeight);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.gs-menu .gs-menu-left-container .gs-menu-items .gs-menu-active{
    color: var(--activeLinksColor);
    position: relative;
}

.gs-menu .gs-menu-left-container .gs-menu-items .gs-menu-active::before{
    content: "";
    position: absolute;
    height: 5px;
    width: calc(100% - 20px) ;
    color: var(--activeLinkLineColor);
    background-color: var(--activeLinkLineColor);
    bottom: var(--activeLinkLineBottom);
    border-radius: 5px;
}

.gs-menu .gs-menu-left-container .gs-menu-logo-conatainer, .gs-menu .gs-menu-toggle-container{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    cursor: pointer;
}

.gs-menu .gs-menu-left-container .gs-menu-logo-conatainer .gs-menu-logo{
    height: calc(var(--menuHeight) - 10px);
}

.gs-menu-right-container .gs-menu-toggle-container .gs-menu-toggle-icon{
    height: calc(var(--menuHeight) - 35px);
    width: calc(var(--menuHeight) - 35px);
    fill: white;
    display: none;
}

.gs-menu .gs-menu-mobile-view{
    padding-top: var(--menuHeight);
    height: 100vh;
    position: fixed;
    right: calc(var(--mobileMenuWidth) - (var(--mobileMenuWidth) + var(--mobileMenuWidth) + 60px));
    z-index: -1;
    transition: .35s ease-in-out;
}

.gs-menu .gs-menu-mobile-view .gs-menu-items{
    width: var(--mobileMenuWidth);
}

.gs-menu .gs-menu-mobile-view .gs-menu-mobile-exit-click{
    height: 100vh;
    width: 100vw;
    display: none;
    position: relative;
}

.gs-menu .gs-menu-mobile-view.gs-open .gs-menu-mobile-exit-click{
    display: block;
}

.gs-menu .gs-menu-mobile-view .gs-menu-items{
    width: var(--mobileMenuWidth);
    background-color: var(--mattBlackTransparent);
}

.gs-menu .gs-menu-mobile-view{
    display: flex;
}

.gs-menu .gs-menu-mobile-view.gs-open{
    right: 0;
}

.gs-menu .gs-menu-left-container .gs-menu-items{
    padding: 0px 10px;
}

.gs-menu .gs-menu-left-container .gs-menu-items ul li{
    display: inline-block;
}

.gs-menu .gs-menu-items ul li a{
    color: var(--menuLinksColor);
    text-decoration: none;
}

.gs-menu .gs-menu-items ul li a:hover{
    color: var(--menuLinksHoverColor);
}

.gs-menu .gs-menu-left-container .gs-menu-items ul li a{
    padding: 0px 10px;
}

.gs-menu .gs-menu-mobile-view .gs-menu-items ul li{
    padding: 10px 0px;
}

.gs-menu .gs-menu-items{
    padding: 0px 30px;
}

.gs-menu .gs-menu-items ul{
    list-style-type: none;
    padding: 0;
}

.gs-menu .gs-menu-left-container{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .gs-menu-right-container .gs-menu-toggle-container .gs-menu-toggle-icon{
        display: block;
    }

    .gs-menu .gs-menu-left-container .gs-menu-items{
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .gs-menu .gs-menu-mobile-view{
        display: none;
    }
}