<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies TvShow Cards</title>
    <link rel="stylesheet" href="../../css/gs-main.css">
    <link rel="stylesheet" href="css/gs-movies-tvshow-cards.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <div class="movies-tvshow-cards-main-container">
        <div class="movies-tvshow-cards-container">
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>

            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Type</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlld3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>