<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies TvShow Cards</title>
    <link rel="stylesheet" href="../../css/gs-main.css">
    <link rel="stylesheet" href="css/gs-movies-tvshow-cards.css">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
</head>
<body>
    <div class="movies-tvshow-cards-main-container">
        <div class="movies-tvshow-cards-container">
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Movie</div>
                        <div class="text-right">2016</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLXriqd-blTzYJcLyYzrlNayd6e1Qi5DXdqZEk2_SxRH_-eOrRoOue3h2GNURXz4vGFwmOtvpbP8TPxCqLoOdSRoTD-A5aY2HUFs2VlFt3jTvgNPydKb4TY2YSpjlDRfhkFgIvWBKSUT9Z6j7DNctq60=w573-h859-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Hacksaw Ridge</div>
                    </div>
                </div>
            </div>
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Movie</div>
                        <div class="text-right">2019</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWTBMakOE5lrrDuPiheqh4qQVFNjbzcXVBVEaGrOpem8kmyuP-sMeEudHk3ER2qTC93VQv3mPH-QNh2mHScQ_sdPwdoQmYrumwtZSCDGTNCj0Cjb-NpFraCmdCc7t03tGeqEwLTAI9ZWt3dBumy20Hu=w573-h859-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Ford v Ferrari</div>
                    </div>
                </div>
            </div>
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">TvShow</div>
                        <div class="text-right">2021</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLU4qOoDIJ-AbfzJDJ0gg-0CNvTV_tCSlAXxlhA8oReyv1wltISSkA3ePyM2HzOPSCKi_KvZOOaZJJUiRoQygUCiilhRsHomUGEtgZ7_Lf-5RIdUiX-XAoJZ0A5di3JEj-VXTXikh5wCvDWpBeng7469=w573-h859-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">WandaVision</div>
                    </div>
                </div>
            </div>
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Movie</div>
                        <div class="text-right">2009</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWAR6rNviUuOLeMvdJiZjZ3KcGkhudZnSoG2fW3gHB6_fy3C0_H8uKD8lYq7t0fMs6stZVMC-ciFjRzTc3f1CwsBr8FmhLvqq8JmAC4_XXqdo3Y21QjTvz4aB3Ful3ZT5FsPVQ9pZV1E4zLZrxT-E6S=w573-h859-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Avatar</div>
                    </div>
                </div>
            </div>
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Movie</div>
                        <div class="text-right">2001</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLVgQrQKKfVQji8jmt5iZ037gt1UUUzF-emXiq4_lBDFhSO50myFJ61sGJsI4BZuoWsQ__sJhUJ-gsDT-Irjsnh-rxGml3z6t4sOf0S9aK9DQBlN5p5h4y78kHbOUlBbIn_hhBmML6AFwyMXGHrc56ms=w573-h859-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">A Beautiful Mind</div>
                    </div>
                </div>
            </div>
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">TvShow</div>
                        <div class="text-right">2013</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLXRNaFRrN15LplcERQbLd_VGLwQELyMUHivsiEECr0KyqeEPWYIp_3hQpEk5cOLFKq-SwYKEKh9EjqT0J4H3kecAITOdA8c5WHkhEVOGJcXrIi5zMDHBatQzXJNCLqWEkiUzQMMkghNsqFHX5sx4kzE=w573-h859-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Peaky Blinders</div>
                    </div>
                </div>
            </div>
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">TvShow</div>
                        <div class="text-right">2014</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLV2d5r7h7WODTaT754dQUYoYj8jLn5hbiOSxX_MOx1GKKolTva_NEWB5pMCP1fgLTxLtzhl6rDo-pUYtOmET_0uXwR0Tazw5J9hVLfaaqzS6tJvprxCQPx0Fv4LrpuMTOtZ0L8xaPvkqQ2WHx7CotEB=w573-h859-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Tokyo Ghoul</div>
                    </div>
                </div>
            </div>
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Movie</div>
                        <div class="text-right">2015</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLUd8gwj4g7czwNLUanrIdZPTqiPUrHSLVisvNhXbRTVebz0iF-siO196Dt_OETtLVsLGn6x2x8DQVopDpeQqqXLb2woltfNYp9nhlzUMy7M3N-7bu-L5v01NFcNEEzZfX7KgttL1EZOiELUBrwmbmk_=w573-h859-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Mission: Impossible - Rogue Nation</div>
                    </div>
                </div>
            </div>
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">TvShow</div>
                        <div class="text-right">2011</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLXXCi2eVpCg3LB3ZSC4SjJm_neDqBXCGOFt2qYLtXed2Xs7oeyX-7fwPDoNWJvuLwnPhHHmNrLa_drXPK2L73PYUdGBr5C6EtozHgvdtbla1B_3JcAS58JLtZBA2xQFUEwhGAyl-uJsMwMd1qmi6c_b=w573-h859-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Game of Thrones</div>
                    </div>
                </div>
            </div>
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">TvShow</div>
                        <div class="text-right">2019</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLU7thm8TWnD4gwtrSbPUmGNpAdmMM3bNg4yE8gYuRJSfC3ICi_fLmDtZNywm_gBEgYYrtaQReZGKd8f6V0G8k3cFmYEbGWmUeaW6TipjAsmIrOIBvCgGvSOQiBnpbXtsbtm6Q1oDshpFqfYyTivSCPa=w573-h859-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Euphoria</div>
                    </div>
                </div>
            </div>
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">Movie</div>
                        <div class="text-right">Ratings</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLWZjUb_rVM27rvRjsi9ngyqbHe9HzENIDCdUZKXu2BICjiY8wcOaOayfiOjBlTjJOCmdfxvlpVW6KtQRg1B-Pli9l9KE6kqz2lGeJM6sZghJeO8nLcFmOAk40wVEn2RjLzAK7357QTKFga5z22NEMg=w603-h903-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">The Aeronauts</div>
                    </div>
                </div>
            </div>
            <div class="card-main-container">
                <div class="card-container">
                    <div class="card-header-container">
                        <div class="text-left">TvShow</div>
                        <div class="text-right">2021</div>
                    </div>
                    <div class="card-image-container">
                        <img src="https://lh3.googleusercontent.com/pw/AM-JKLW5C86UIy3d8zUEi-7uPCUgAFyus3xgfNay0WFKklDVc37Xngj1C-xW41FZfVztClEf3pprY4-mJA9FbEzHYVyl1DEvdbAKU8oFUUO7NVzV1WxP2yJmuuJ1w3JG8Ttm5UVJs-33bLxTXViH8TCeH4x4=w573-h859-no?authuser=0" class="card-image">
                    </div>
                    <div class="card-footer-container">
                        <div class="card-title">Tokyo Revengers</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>