<router-outlet></router-outlet>
<div>
  <hr>
    <h3>gs-carousel</h3>
  <hr>
    <gs-carousel [imageSmallHeight]="85" [imageSmallWidth]="150" [imageHeight]="160" [imageWidth]="285" [carouselData]="carouselData" [hiddenScrollBar]="true" [showButtons]="true" (itemClicked)="carouselItemClicked($event)"></gs-carousel>
  <hr>
</div>

<div>
  <hr>
    <h3>gs-product-grid</h3>
  <hr>
    <gs-product-grid [productGridData]="productGridData" (itemClicked)="productGridItemClicked($event)"></gs-product-grid>
  <hr>
</div>

<div>
  <hr>
    <h3>gs-modal</h3>
  <hr>
    <button (click)="showGsModal()">Show Modal</button>
    <gs-modal [showModal]="showModal" (closeModal)="hideModal($event)" modalWidth="1200px" modalHeight="600px" modalBackgroundColor="#00000066">
      <div header>Header</div>
      <div content>Content</div>
      <div footer>Footer</div>
    </gs-modal>
  <hr>
</div>



<div style="width: 100%; margin-bottom: 1500px;">
  <gs-select (DropDownChanged)="dropDownChanged($event)" [hideOptionsAfter]="4" [responsiveOptionHiding]="false" [selectDataParentChild]="selectDataParentChild" [selectData]="selectData" [showAllCheckbox]="true" [allowMultiSelect]="true" [isParentChild]="true" [showSearch]="true"></gs-select>
</div>
