<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop Box</title>
    <link rel="icon" type="image/x-icon" href="images/logo.ico">
    <link rel="stylesheet" href="css/gs-drop-box-design.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>

    <div class="gs-dropbox-main-container">
        <div class="gs-dropbox-navbar">
            <div class="gs-dropbox-navbar-left">
                <img src="images/fullLogo.png" class="gs-dropbox-logo-in-navbar-left">
            </div>
            <div class="gs-dropbox-navbar-right">
                <div class="gs-dropbox-navbar-right-search-container" id="gs-dropbox-navbar-right-search-container">
                    <span class="gs-dropbox-search-icon-container"><img src="svgs/search.svg" class="gs-dropbox-search-icon"></span>
                    <input type="text" class="gs-dropbox-navbar-right-search-input" placeholder="Search" onfocus="updateSearchTextBox(true)">
                    <span class="gs-dropbox-cancel-icon-container"><img src="svgs/cancel.svg" class="gs-dropbox-cancel-icon" onclick="updateSearchTextBox(false)"></span>
                </div>
                <div class="gs-dropbox-navbar-right-icons-container">
                    <img src="svgs/questionMark.png" class="gs-dropbox-navbar-right-icon">
                    <img src="svgs/notificationBell.svg" class="gs-dropbox-navbar-right-icon">
                    <img src="images/man.jpg" class="gs-dropbox-navbar-right-user-icon gs-image-round ">
                </div>
            </div>
        </div>
        <div class="gs-dropbox-container">
            <div class="gs-dropbox-left">
                <ul class="gs-dropbox-left-list">
                    <li><span>Home</span></li>
                    <li><span>All files</span></li>
                    <li><span>Recents</span></li>
                    <li><span>Starred</span></li>
                    <li><span>Photos</span></li>
                    <li><span>Shared</span></li>
                    <li><span>File requests</span></li>
                    <li><span>Deleted files</span></li>
                </ul>
            </div>
            <div class="gs-bropbox-center">
    
            </div>
            <div class="gs-dropbox-right" id="gs-dropbox-right">
                <div class="gs-dropbox-right-container">
                    <div class="folderTitleContainer">
                        <div class="folderTitle">Dropbox</div>
                        <div class="panelOpenCloseIconContainer"><img src="svgs/closepanel.svg" class="panelOpenCloseIcon" onclick="toggleRightMenu()"></div>
                    </div>
                    <div class="rightPanelSectionContainer open" onclick="openThisRightPanel(this)">
                        <div class="rightPanelSectionIconAndTitleContainer">
                            <div class="rightPanelIconContainer"><img src="svgs/infoIcon.svg" class="rightPanelSectionIcon"></div>
                            <div class="rightPanelSectionTitle">Info</div>
                        </div>
                        <div class="rightPanelSectionContent">
                            Info
                        </div>
                    </div>
                    <div class="rightPanelSectionContainer" onclick="openThisRightPanel(this)">
                        <div class="rightPanelSectionIconAndTitleContainer">
                            <div class="rightPanelIconContainer"><img src="svgs/pinIcon.svg" class="rightPanelSectionIcon"></div>
                            <div class="rightPanelSectionTitle">Pinned Items</div>
                        </div>
                        <div class="rightPanelSectionContent">
                            Pinned Items
                        </div>
                    </div>
                    <div class="rightPanelSectionContainer" onclick="openThisRightPanel(this)">
                        <div class="rightPanelSectionIconAndTitleContainer">
                            <div class="rightPanelIconContainer"><img src="svgs/folderIcon.svg" class="rightPanelSectionIcon"></div>
                            <div class="rightPanelSectionTitle">Activity</div>
                        </div>
                        <div class="rightPanelSectionContent">
                            Activity
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/gs-drop-box-design.js"></script>
</body>
</html>