:root{
    --number-of-pages-gs-scroll-food: 3;
    --padding-outside-container-horizontal: 4vw;
    --padding-outside-container-vertical: 4.5vw;
    --padding-between-menu-item: 3vw;
    --menu-padding-right: 20vw;
}

* {
    margin: 0;
}

.gs-scroll-food-outercontainer{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Inter' !important;
    overflow: hidden;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--padding-outside-container-vertical);
    z-index: 2;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container{
    height: 100%;
    width: calc(100% - (var(--padding-outside-container-horizontal) * 2));
    display: flex;
    padding: 0px var(--padding-outside-container-horizontal);
    justify-content: space-between;
    align-items: center;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left{
    display: flex;
    align-items: center;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-title{
    color: #1E1812;
    font-weight: bolder;
    font-size: 2.5vw;
    text-transform: uppercase;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-right{
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-right .menu-items-container{
    display: flex;
    align-items: center;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-right .menu-right-searchConatiner{
    display: flex;
    align-items: center;
    padding: 0px 2vw;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-right .gs-food-menu-item{
    text-transform: uppercase;
    padding: var(--padding-between-menu-item);
    cursor: pointer;
    font-weight: bolder;
    font-size: 1vw;
}

.gs-scroll-food-outercontainer .gs-scroll-food-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100% - (var(--padding-outside-container-horizontal) * 2));
    height: var(--padding-outside-container-vertical);
    padding: 0px var(--padding-outside-container-horizontal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    background-color: white;
}



.gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-left,
.gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-right{
    position: relative;
}

.gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-left .gs-social{
    display: flex;
    align-items: center;
    font-weight: bolder;
    text-transform: uppercase;
}

.gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-left .gs-social .gs-social-in{
    padding-right: 0.5vw;
}

.gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-left .gs-social .gs-social-in.gs-social-line{
    margin-bottom: 0.5vw;
}

.gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-left .gs-social .gs-social-in.gs-social-link{
    cursor: pointer;
}

.gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-left .gs-social{
    text-transform: uppercase;
}

.gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-right .gs-scroll-down{
    display: flex;
    align-items: center;
    font-weight: bolder;
    text-transform: uppercase;
}

.gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-right .gs-scroll-down .gs-scroll-in{
    padding-left: 0.5vw;
}

.gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-right .gs-swipe-next{
    display: flex;
    align-items: center;
    font-weight: bolder;
    text-transform: uppercase;
    display: none;
}

.gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-right .gs-swipe-next .gs-swipe-in{
    padding-left: 0.5vw;
}

.gs-scroll-food-outercontainer .gs-scroll-food-right-menu{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: var(--padding-outside-container-horizontal);
    height: calc(100vh - (var(--padding-outside-container-vertical) * 2));
    align-items: center;
    overflow-y: auto;
    display: flex;
}

.gs-scroll-food-outercontainer .gs-scroll-food-right-menu .gs-page-number-counter{
    width: 100%;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
}

.gs-scroll-food-outercontainer .gs-scroll-food-right-menu .gs-page-number-counter .gs-page-number{
    width: 100%;
    text-align: center;
    font-size: 0.9vw;
    font-weight: bold;
    padding: 2vw 0px;
    cursor: pointer;
    position: relative;
}

.gs-scroll-food-outercontainer .gs-scroll-food-right-menu .gs-page-number-counter .gs-page-number.gs-active::before{
    content: "";
    height: 0.25vw;
    width: 0.5vw;
    background-color: #1E1812;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.gs-scroll-food-outside-container {
    width: calc(100% - (var(--padding-outside-container-horizontal) * 2));
    height: calc(100% - (var(--padding-outside-container-vertical) * 2));
    padding: var(--padding-outside-container-vertical) var(--padding-outside-container-horizontal); 
}

.gs-scroll-food-outside-container .gs-scroll-food-container{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container{
    height: 100%;
    width: 100%;
    position: relative;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.gs-active{
    opacity: 1 !important;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-top-right{
    width: 15vw;
    height: 15vw;
    background-color: red;
    position: fixed;
    top: -7vw;
    right: -2vw;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    z-index: 2;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-bottom-left{
    width: 15vw;
    height: 15vw;
    background-color: red;
    position: fixed;
    bottom: 8vw;
    left: -3vw;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    z-index: 2;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-top-right .gs-circle-arrow-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-top-right .gs-circle-arrow-container .gs-circle-arrow{
    fill: white;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    display: none;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-bottom-left .gs-circle-arrow-container .gs-circle-arrow{
    fill: white;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(180deg);
    cursor: pointer;
    display: none;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-bottom-left.gs-opp-0{
    width: 0px;
    height: 0px;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-top-right.gs-opp-0{
    width: 0px;
    height: 0px;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-image-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-image-container .gs-page-data-image{
    width: 40vw;
    object-fit: cover;
    right: 3vw;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.3s ease-in-out;
    position: absolute;
    transform: rotateY(90deg);
    transition: transform 0.3s ease-in-out;

}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page.gs-active .gs-page-contents .gs-page-data .gs-page-data-image-container .gs-page-data-image{
    transform: rotateY(0deg) scale(1.1);
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-text-container{
    width: 35vw;
    font-size: 1vw;
    position: fixed;
    bottom: 10vw;
    left: 8vw;
    line-height: 1.8vw;
    color: black;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-title-container{
    height: max-content;
    display: flex;
    position: absolute;
    /* right: 120px; */
    left: 0;
    justify-content: space-around;
    width: 100%;
    top: 10vh;
    transition: 0.3s ease;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-title-container .gs-title-letter{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5vw;
    line-height: 2vw;
    z-index: 2;
    color:black;    
    text-shadow: 0.5vw 0 black;
    transform: translateY(-10px);
    transition: transform 0.3s 0.3s ease-out, opacity 0.3s;
    opacity: 0;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page.gs-active .gs-page-contents .gs-page-data .gs-page-data-title-container .gs-title-letter{
    transform: translateY(0);
    opacity: 1;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-title-container .gs-title-letter.gs-small-screen-title{
    display: none;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-title-container .gs-title-letter:nth-child(odd){
    padding-bottom: 6vw;
}

.gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-title-container .gs-title-letter:nth-child(even){
    padding-top: 6vw;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-side-menu,
.gs-scroll-food-outercontainer .gs-menu-side-container{
    display: none;
}


.gs-scroll-food-outercontainer .gs-menu-side-container{
    height: 100vh;
    left: -90vw;
    bottom: 0;
    width: 90vw;
    position: fixed;
    background-color: #1e1812eb;
    z-index: 11;
    transition: 0.3s ease-in-out;
}

.gs-scroll-food-outercontainer .gs-menu-in-container-one{
    position: relative;
    width: 100%;
    height: 100%;
}

.gs-scroll-food-outercontainer .gs-menu-in-container-two{
    position: absolute;
    height: max-content;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}


.gs-scroll-food-outercontainer .gs-menu-side-container.gs-opened{
    left: 0vw;
}

.gs-scroll-food-outercontainer .gs-menu-side-container .gs-food-menu-item{
    text-align: center;
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: bolder;
    color: white;
    padding: 4vw;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-side-menu .gs-menu-toggle-btn{
    width: 50px;
    height: 25px;
    position: relative;
    z-index: 20;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-side-menu .gs-menu-toggle-btn .gs-menu-line{
    background-color: #1E1812;
    width: 30px;
    height: 5px;
    position: absolute;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-side-menu .gs-menu-toggle-btn .gs-menu-line.gs-one{
    top: 0;
    left: 0;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-side-menu .gs-menu-toggle-btn .gs-menu-line.gs-two{
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-side-menu .gs-menu-toggle-btn .gs-menu-line.gs-three{
    bottom: 0;
    left: 0;
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-side-menu .gs-menu-toggle-btn.gs-opened .gs-menu-line.gs-one{
    transform-origin: left;
    transform: rotate(45deg);
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-side-menu .gs-menu-toggle-btn.gs-opened .gs-menu-line.gs-two{
    width: 0;   
}

.gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-side-menu .gs-menu-toggle-btn.gs-opened .gs-menu-line.gs-three{
    transform-origin: left;
    transform: rotate(-45deg);
}

@media screen and (max-width: 1200px) {
    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-image-container .gs-page-data-image{width: 50vw;}
    :root{
        --padding-outside-container-horizontal: 6vw;
        --padding-outside-container-vertical: 6.5vw;
    }
    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-top-right{
        transform: scale(1.3);
    }
    
    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-bottom-left{
        transform: scale(1.3);
        bottom: 18vh;
    }

    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-text-container{
        bottom: 19vh;
        font-size: 1.4vw;
        left: 11vw;
        width: 40vw;
        line-height: 2vw;
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-right-menu .gs-page-number-counter .gs-page-number{
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 1000px) {
    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-image-container .gs-page-data-image{width: 60vw;}
}

@media screen and (max-width: 850px) {
    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-image-container .gs-page-data-image{
        width: auto;
        height: 60%;
        right: 0;
        left: 0;
        margin: auto;
    }

    :root{
        --padding-outside-container-horizontal: 7vw;
        --padding-outside-container-vertical: 7.5vw;
    }

    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-top-right{
        transform: scale(1.5);
    }

    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-bottom-left{
        transform: scale(1.5);
    }

    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-text-container{
        font-size: 1.6vw;
        left: 11vw;
        width: 50vw;
        line-height: 2.2vw;
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-right-menu .gs-page-number-counter .gs-page-number{
        font-size: 1.5vw;
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-right .gs-food-menu-item{
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 650px){
    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-image-container .gs-page-data-image{
        width: auto;
        height: 40%;
        right: 0;
        left: 0;
        margin: auto;
    }
}

@media screen and (max-width: 450px) {
    .gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-side-menu,
    .gs-scroll-food-outercontainer .gs-menu-side-container{
        display: block;
    }

    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-image-container .gs-page-data-image{
        width: auto;
        height: 35%;
        max-height: 300px;
        right: 0;
        left: 0;
        margin: auto;
    }

    :root{
        --padding-outside-container-horizontal: 0px;
        --padding-outside-container-vertical: 15vw;
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-left,
    .gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-right{
        padding: 0px 20px;
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-left,
    .gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-right{
        padding: 0px 20px;
        font-size: 2vw;
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-left .gs-food-title{
        font-size: 5vw;
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-right .gs-food-menu-item{
        font-size: 2vw;
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-left .gs-social .gs-social-in .gs-social-svgs{
        transform: scale(3);
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-right .gs-swipe-next{
        display: flex;
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-right .gs-swipe-next .gs-swipe-in .gs-swipe-svgs{
        transform: scale(2);
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-left .gs-social .gs-social-in.gs-social-follow,
    .gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-right .gs-scroll-down,
    .gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-left .gs-social .gs-social-in.gs-social-line,
    .gs-scroll-food-outercontainer .gs-scroll-food-menu .gs-menu-container .gs-right .menu-items-container,
    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-title-container .gs-title-letter{
        display: none;
    }

    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-text-container{
        width: 80%;
        font-size: 3vw;
        position: absolute;
        line-height: 4vw;
        text-align: center;
        display: none;
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-footer .gs-left .gs-social .gs-social-in{
        padding-right: 4vw;
    }

    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-top-right{
        width: 10vw;
        height: 10vw;
        right: 4vw;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        z-index: 5;
    }
    
    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-bottom-left{
        width: 10vw;
        height: 10vw;
        left: 4vw;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        z-index: 5;
    }

    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-bottom-left .gs-circle-arrow-container .gs-circle-arrow,
    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-top-right .gs-circle-arrow-container .gs-circle-arrow{
        display: block;
    }

    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-title-container{
        justify-content: space-around;
        width: 100%;
        top: 10vh;
    }

    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-title-container .gs-title-letter.gs-small-screen-title{
        display: block;
    }

    .gs-scroll-food-outercontainer .gs-scroll-food-menu{
        z-index: 12;
        background-color: white;
    }
}


@media screen and (max-width: 320px) {
    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-page-data .gs-page-data-image-container .gs-page-data-image{
        width: auto;
        height: 30%;
        right: 0;
        left: 0;
        margin: auto;
    }

    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-top-right{
        width: 10vw;
        height: 10vw;
        right: 2vw;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        z-index: 5;
    }
    
    .gs-scroll-food-outside-container .gs-scroll-food-container .gs-pages-container .gs-page .gs-page-contents .gs-circle-bottom-left{
        width: 10vw;
        height: 10vw;
        left: 2vw;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        position: absolute;
        z-index: 5;
    }
}