<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../../css/gs-main.css">
    <link rel="stylesheet" href="css/gs-menu.css">
</head>
<body>

    <div class="gs-menu">
        <div class="gs-menu-left-container">
            <div class="gs-menu-logo-conatainer">
                <img src="../../images/logoEg2.png" class="gs-menu-logo">
            </div>
            <div class="gs-menu-items">
                <ul>
                    <li><a href="#" class="gs-menu-link-with-active gs-menu-active">Menu 1</a></li>
                    <li><a href="#" class="gs-menu-link-with-active">Menu 2</a></li>
                    <li><a href="#" class="gs-menu-link-with-active">Menu 3</a></li>
                    <li><a href="#" class="gs-menu-link-with-active">Menu 4</a></li>
                    <li><a href="#" class="gs-menu-link-with-active">Menu 5</a></li>
                    <li><a href="#" class="gs-menu-link-with-active">Menu 6</a></li>
                </ul>
            </div>
        </div>
        <div class="gs-menu-right-container">
            <div class="gs-menu-toggle-container" onclick="gs_openMenu(this)" data-mobile-div="gsMobileMenu">
                <svg xmlns="http://www.w3.org/2000/svg" class="gs-menu-toggle-icon"  viewBox="0 0 24 24"><path d="M 2 5 L 2 7 L 22 7 L 22 5 L 2 5 z M 2 11 L 2 13 L 22 13 L 22 11 L 2 11 z M 2 17 L 2 19 L 22 19 L 22 17 L 2 17 z"/></svg>
            </div>
        </div>

        <div class="gs-menu-mobile-view" id="gsMobileMenu">
            <div class="gs-menu-mobile-exit-click" onclick="gs_closeMenu(this)">

            </div>
            <div class="gs-menu-items">
                <ul>
                    <li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li><a href="#">Menu 3</a></li>
                    <li><a href="#">Menu 4</a></li>
                    <li><a href="#">Menu 5</a></li>
                    <li><a href="#">Menu 6</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="Content-Example">
        <div class="codeContainer">
            <h4>HTML Code</h4>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fgamble4846%2FGSLibrary%2Fblob%2Fmain%2Fcomponents%2Fmenu%2Fmenu.html%23L13-L50&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
        </div>

        <div class="codeContainer">
            <h4>CSS Code</h4>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fgamble4846%2FGSLibrary%2Fblob%2Fmain%2Fcomponents%2Fmenu%2Fcss%2Fgs-menu.css&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
        </div>

        <div class="codeContainer">
            <h4>JS Code</h4>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fgamble4846%2FGSLibrary%2Fblob%2Fmain%2Fcomponents%2Fmenu%2Fjs%2Fgs-menu.js&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
        </div>
    </div>

    <script src="js/gs-menu.js"></script>
</body>
</html>