<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimalist Hover Buttons</title>
    <link rel="stylesheet" href="../../css/gs-main.css">
    <link rel="stylesheet" href="css/gs-minimalist-buttons.css">
</head>
<body>
    <div class="Content-Example">
        <span class="padding-20px">
            <button class="gs-minimalist-button gs-minimalist-button-filled gs-onhover-from-top-to-bottom">
                <span class="gs-minimalist-button-text">Top to Bottom</span>
            </button>
        </span>

        <span class="padding-20px">
            <button class="gs-minimalist-button gs-minimalist-button-filled gs-onhover-from-bottom-to-top">
                <span class="gs-minimalist-button-text">Bottom to Top</span>
            </button>
        </span>

        <span class="padding-20px">
            <button class="gs-minimalist-button gs-minimalist-button-filled gs-onhover-from-left-to-right">
                <span class="gs-minimalist-button-text">Left to Right</span>
            </button>
        </span>

        <span class="padding-20px">
            <button class="gs-minimalist-button gs-minimalist-button-filled gs-onhover-from-right-to-left">
                <span class="gs-minimalist-button-text">Right to Left</span>
            </button>
        </span>

        <span class="padding-20px">
            <button class="gs-minimalist-button gs-minimalist-button-filled gs-onhover-from-center">
                <span class="gs-minimalist-button-text">Center</span>
            </button>
        </span>

        <span class="padding-20px">
            <button class="gs-minimalist-button gs-minimalist-button-filled gs-onhover-fade">
                <span class="gs-minimalist-button-text">Fade</span>
            </button>
        </span>

        <br><br><br>

        <span class="padding-20px">
            <button class="gs-minimalist-button gs-minimalist-button-bordered gs-border-button-topleft-and-bottomright">
                <span class="gs-minimalist-button-text">Border 1</span>
            </button>
        </span>

        <span class="padding-20px">
            <button class="gs-minimalist-button gs-minimalist-button-bordered gs-border-button-topright-and-bottomleft">
                <span class="gs-minimalist-button-text">Border 2</span>
            </button>
        </span>

        <span class="padding-20px">
            <button class="gs-minimalist-button gs-minimalist-button-bordered gs-border-button-around">
                <span class="gs-minimalist-button-text">Border 3</span>
            </button>
        </span>

        <span class="padding-20px">
            <button class="gs-minimalist-button gs-minimalist-button-bordered gs-border-button-around-sync">
                <span class="gs-minimalist-button-text">Border 4</span>
            </button>
        </span>
    </div>
</body>
</html>