<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blur Cards Buttons</title>
    <link rel="stylesheet" href="../../css/gs-main.css">
    <link rel="stylesheet" href="css/gs-blur-cards.css">
</head>
<body class="blur-cards-body">
    <div class="gs-cards-container">
        <div class="gs-cards-grid">
            <a class="gs-card" style="background-image: url(https://m.media-amazon.com/images/M/MV5BMmIwZDMyYWUtNTU0ZS00ODJhLTg2ZmEtMTk5ZmYzODcxODYxXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_.jpg)">
                <div class="gs-card-data">
                    <div class="gs-card-over-header">
                        Movie
                    </div>
                    <div class="gs-card-header">
                        Top Gun: Maverick
                    </div>
                    <div class="gs-card-content">
                        After more than thirty years of service as one of the Navy's top aviators, Pete Mitchell is where he belongs, pushing the envelope as a courageous test pilot and dodging the advancement in rank that would ground him.
                    </div>
                </div>
            </a>

            <a class="gs-card" style="background-image: url(https://m.media-amazon.com/images/M/MV5BZjBlMjIxN2ItNTMyNi00NDk5LWFhMzEtNzdiODE0Y2M4MWI2XkEyXkFqcGdeQXVyMTM1MTE1NDMx._V1_.jpg)">
                <div class="gs-card-data">
                    <div class="gs-card-over-header">
                        Movie
                    </div>
                    <div class="gs-card-header">
                        Chip 'n Dale: Rescue Rangers
                    </div>
                    <div class="gs-card-content">
                        Thirty years after their popular television show ended, chipmunks Chip and Dale live very different lives. When a cast member from the original series mysteriously disappears, the pair must reunite to save their friend.
                    </div>
                </div>
            </a>
            
            <a class="gs-card" style="background-image: url(https://m.media-amazon.com/images/M/MV5BODZlYjQ4NzYtZTg1MC00NGY4LTg4NjQtNGE3ZjRkMjk3YjMyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_FMjpg_UX1000_.jpg)">
                <div class="gs-card-data">
                    <div class="gs-card-over-header">
                        Tv Show
                    </div>
                    <div class="gs-card-header">
                        Stranger Things
                    </div>
                    <div class="gs-card-content">
                        When a young boy disappears, his mother, a police chief and his friends must confront terrifying supernatural forces in order to get him back.
                    </div>
                </div>
            </a>

            <a class="gs-card" style="background-image: url(https://m.media-amazon.com/images/M/MV5BYmMxZWRiMTgtZjM0Ny00NDQxLWIxYWQtZDdlNDNkOTEzYTdlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg)">
                <div class="gs-card-data">
                    <div class="gs-card-over-header">
                        Movie
                    </div>
                    <div class="gs-card-header">
                        Thor: Love and Thunder
                    </div>
                    <div class="gs-card-content">
                        Thor enlists the help of Valkyrie, Korg and ex-girlfriend Jane Foster to fight Gorr the God Butcher, who intends to make the gods extinct.
                    </div>
                </div>
            </a>

            <a class="gs-card" style="background-image: url(https://m.media-amazon.com/images/M/MV5BYTRiNDQwYzAtMzVlZS00NTI5LWJjYjUtMzkwNTUzMWMxZTllXkEyXkFqcGdeQXVyNDIzMzcwNjc@._V1_.jpg)">
                <div class="gs-card-data">
                    <div class="gs-card-over-header">
                        Tv Show
                    </div>
                    <div class="gs-card-header">
                        Game of Thrones
                    </div>
                    <div class="gs-card-content">
                        Nine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for millennia.
                    </div>
                </div>
            </a>

            <a class="gs-card" style="background-image: url(https://resizing.flixster.com/SAICgriG0MpGYUlj7YaLj69cIUY=/ems.ZW1zLXByZC1hc3NldHMvdHZzZWFzb24vUlRUVjczNzIyNC53ZWJw)">
                <div class="gs-card-data">
                    <div class="gs-card-over-header">
                        Tv Show
                    </div>
                    <div class="gs-card-header">
                        The Boys
                    </div>
                    <div class="gs-card-content">
                        A group of vigilantes set out to take down corrupt superheroes who abuse their superpowers.
                    </div>
                </div>
            </a>

            <a class="gs-card" style="background-image: url(https://m.media-amazon.com/images/M/MV5BMDdmMTBiNTYtMDIzNi00NGVlLWIzMDYtZTk3MTQ3NGQxZGEwXkEyXkFqcGdeQXVyMzMwOTU5MDk@._V1_.jpg)">
                <div class="gs-card-data">
                    <div class="gs-card-over-header">
                        Movie
                    </div>
                    <div class="gs-card-header">
                        The Batman
                    </div>
                    <div class="gs-card-content">
                        When a sadistic serial killer begins murdering key political figures in Gotham, Batman is forced to investigate the city's hidden corruption and question his family's involvement.
                    </div>
                </div>
            </a>

            <a class="gs-card" style="background-image: url(https://www.sonypictures.com/sites/default/files/styles/max_560x840/public/title-key-art/morbius_onesheet_1400x2100_he.jpg?itok=-jQVkWIe)">
                <div class="gs-card-data">
                    <div class="gs-card-over-header">
                        Movie
                    </div>
                    <div class="gs-card-header">
                        Morbius
                    </div>
                    <div class="gs-card-content">
                        Biochemist Michael Morbius tries to cure himself of a rare blood disease, but he inadvertently infects himself with a form of vampirism instead.
                    </div>
                </div>
            </a>

            <a class="gs-card" style="background-image: url(https://sysfilessacbe149174fee.blob.core.windows.net/public-container/clients/worthingtheatres/files/d3f93c44-f477-4079-96db-14c2ef40a5f5.jpg)">
                <div class="gs-card-data">
                    <div class="gs-card-over-header">
                        Movie
                    </div>
                    <div class="gs-card-header">
                        Sonic the Hedgehog 2
                    </div>
                    <div class="gs-card-content">
                        When the manic Dr Robotnik returns to Earth with a new ally, Knuckles the Echidna, Sonic and his new friend Tails is all that stands in their way.
                    </div>
                </div>
            </a>

            <a class="gs-card" style="background-image: url(https://m.media-amazon.com/images/M/MV5BZmQ1NDZjMTktMjFhZC00ZGY5LWEyMTMtNDhkOWM4NmMyZjI0XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg)">
                <div class="gs-card-data">
                    <div class="gs-card-over-header">
                        Movie
                    </div>
                    <div class="gs-card-header">
                        Jurassic World Dominion
                    </div>
                    <div class="gs-card-content">
                        Four years after the destruction of Isla Nublar, dinosaurs now live--and hunt--alongside humans all over the world. This fragile balance will reshape the future and determine, once and for all, whether human beings are to remain the apex predators on a planet they now share with history's most fearsome creatures in a new Era.
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="codeContainer">
        <h3>HTML</h3>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fgamble4846%2FGSLibrary%2Fblob%2Fmain%2Fcomponents%2Fblur-cards%2Fblur-cards.html%23L12-L154&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
    </div>

    <div class="codeContainer">
        <h3>CSS</h3>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fgamble4846%2FGSLibrary%2Fblob%2Fmain%2Fcomponents%2Fblur-cards%2Fcss%2Fgs-blur-cards.css&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
    </div>

    <div class="codeContainer">
        <h3>JS</h3>
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fgamble4846%2FGSLibrary%2Fblob%2Fmain%2Fcomponents%2Fblur-cards%2Fjs%2Fgs-blur-cards.js&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>
    </div>

    <script src="js/gs-blur-cards.js"></script>
</body>
</html>