:root{
    --button-font-size-gs-minimalist-buttons: 20px;
    --button-fill-color-gs-minimalist-buttons: rgb(28, 31, 30);
    --button-text-color-gs-minimalist-buttons:  white;
    --button-hover-color-gs-minimalist-buttons: white;
    --button-hover-text-color-gs-minimalist-buttons: black;
    --button-border-color-gs-minimalist-buttons: black;
    --button-border-size-gs-minimalist-buttons: 1px;
    --button-onhover-tansition-time-gs-minimalist-buttons: 0.3s;
    --button-border-distance-gs-minimalist-buttons: 5px;
}

.gs-minimalist-button{
    position: relative;
    display: inline-block;
    border: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
    padding: 0; 
    background-color: transparent;
    cursor: pointer;
    width: max-content;
    height: max-content;
    padding: calc(var(--button-font-size-gs-minimalist-buttons) / 3) calc(var(--button-font-size-gs-minimalist-buttons));
}

.gs-minimalist-button .gs-minimalist-button-text{
    position: relative;
    display: inline-block;
    font-size: var(--button-font-size-gs-minimalist-buttons);
    letter-spacing: calc(var(--button-font-size-gs-minimalist-buttons) / 10);
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
}

.gs-minimalist-button.gs-minimalist-button-filled{
    background-color: var(--button-fill-color-gs-minimalist-buttons);
}

.gs-minimalist-button .gs-minimalist-button-text{
    color: var(--button-text-color-gs-minimalist-buttons);
}

.gs-minimalist-button.gs-minimalist-button-filled::before{
    content: "";
    background-color: var(--button-hover-color-gs-minimalist-buttons);
    width: 0%;
    height: 0%;
    position: absolute;
    transition: var(--button-onhover-tansition-time-gs-minimalist-buttons) ease-out;
}

.gs-minimalist-button.gs-minimalist-button-filled:hover .gs-minimalist-button-text{
    color: var(--button-hover-text-color-gs-minimalist-buttons);
}

.gs-minimalist-button.gs-minimalist-button-filled.gs-onhover-from-top-to-bottom::before{
    left: 0;
    width: 100%;
    height: 0;
    top: 0;
}

.gs-minimalist-button.gs-minimalist-button-filled.gs-onhover-from-bottom-to-top::before{
    left: 0;
    width: 100%;
    height: 0;
    bottom: 0;
}

.gs-minimalist-button.gs-minimalist-button-filled.gs-onhover-from-left-to-right::before{
    left: 0;
    width: 0%;
    height: 100%;
    bottom: 0;
}

.gs-minimalist-button.gs-minimalist-button-filled.gs-onhover-from-right-to-left::before{
    right: 0;
    width: 0%;
    height: 100%;
    bottom: 0;
}

.gs-minimalist-button.gs-minimalist-button-filled.gs-onhover-from-center::before{
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    height: 0%;
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
}

.gs-minimalist-button.gs-minimalist-button-filled.gs-onhover-fade::before{
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.gs-minimalist-button.gs-minimalist-button-filled:hover:before{
    height: 100%;
    width: 100%;
    opacity: 1;
}

/* -------------------- */

.gs-minimalist-button.gs-minimalist-button-bordered{
    background-color: var(--button-fill-color-gs-minimalist-buttons);
    border: 0px;
}

.gs-minimalist-button.gs-minimalist-button-bordered::before,
.gs-minimalist-button.gs-minimalist-button-bordered::after{
    content: "";
    background: transparent;
    z-index: 2;
    position: absolute;
    transition: var(--button-onhover-tansition-time-gs-minimalist-buttons) ease-out;
}

.gs-minimalist-button.gs-minimalist-button-bordered::before,
.gs-minimalist-button.gs-minimalist-button-bordered::after{
    width: calc(var(--button-font-size-gs-minimalist-buttons));
    height: calc(var(--button-font-size-gs-minimalist-buttons));
    opacity: 0;
}

.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-topleft-and-bottomright::before,
.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-topleft-and-bottomright::after{
    opacity: 1;
}

.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-topright-and-bottomleft::before,
.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-topright-and-bottomleft::after{
    opacity: 1;
}

.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-topleft-and-bottomright::before{
    top: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons))); 
    left: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons)));
    border-left: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
    border-top: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
}

.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-topleft-and-bottomright::after{
    bottom: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons)));
    right: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons)));
    border-right: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
    border-bottom: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
}

.gs-minimalist-button.gs-minimalist-button-bordered:hover.gs-minimalist-button.gs-minimalist-button-bordered::before,
.gs-minimalist-button.gs-minimalist-button-bordered:hover.gs-minimalist-button.gs-minimalist-button-bordered::after{
    width: calc(100% + (var(--button-border-distance-gs-minimalist-buttons) * 2) - var(--button-border-size-gs-minimalist-buttons)); 
    height: calc(100% + (var(--button-border-distance-gs-minimalist-buttons) * 2) - var(--button-border-size-gs-minimalist-buttons));
}

.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-topright-and-bottomleft::before{
    top: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons))); 
    right: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons)));
    border-right: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
    border-top: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
}

.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-topright-and-bottomleft::after{
    bottom: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons)));
    left: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons)));
    border-left: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
    border-bottom: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
}

/* ----------- */

.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-around::before,
.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-around::after{
    transition: width var(--button-onhover-tansition-time-gs-minimalist-buttons) var(--button-onhover-tansition-time-gs-minimalist-buttons) linear, height var(--button-onhover-tansition-time-gs-minimalist-buttons) linear, opacity 0s calc(var(--button-onhover-tansition-time-gs-minimalist-buttons) * 2);
    width: 0;
    height: 0;
}

.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-around::before {
    top: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons)));; 
    right: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons)));;
    border-top: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
    border-left: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
}
  
.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-around::after {
    bottom: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons)));; 
    left: calc(var(--button-border-distance-gs-minimalist-buttons) - (var(--button-border-distance-gs-minimalist-buttons) + var(--button-border-distance-gs-minimalist-buttons)));;
    border-bottom: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
    border-right: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
}

.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-around:hover::before,
.gs-minimalist-button.gs-minimalist-button-bordered.gs-border-button-around:hover::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: width var(--button-onhover-tansition-time-gs-minimalist-buttons) linear, height var(--button-onhover-tansition-time-gs-minimalist-buttons) var(--button-onhover-tansition-time-gs-minimalist-buttons) linear, opacity calc(var(--button-onhover-tansition-time-gs-minimalist-buttons) * 2);   
}